/Data_Files
/CheapBlat
*.log
LogFiles/
.Rproj.user
.RData
.Rhistory
Thesis.Rproj
*.pdf
*.html
*.png
*.pkl
*.npy
*.xlsx
*.err
*.out
/ML/Model_History/
/ML/Model_Loss_Plots/
/ML/Model_Accuracy_Plots/
/ML/Model_Summeries/
*.csv
*.zip
/ML/FractalImages
/ML/Models
/ML/GenePerChrome
/FractalDimension/GenePerChrome
/FractalDimension/GenePerChrome_old
/FractalDimension/Distance_Dict
/FractalDimension/Random_Selection
/ML/GIF
/ML/Seqs.txt
/ML/Seqs_IL12RB2.txt
/ML/Seqs_CLIC4.txt
*.pptx
*.gif
*/__pycache__
/ML/FractalTrajectory/
/FractalDimension/GenePerChrome_CGR
/FractalDimension/Distance_Dict_CGR
/FractalDimension/GenePerChrome_KTA
/FractalDimension/Distance_Dict_KTA
/DataCollection/*.txt
/ML/Data_Set_1_histogram_6mer_KTA
/ML/Data_Set_2_histogram_6mer_KTA
/FractalDimension\TE_Images_ForPaper\Error_Data

/FractalDimension/TE_Images_ForPaper/*/Old
/FractalDimension/TE_Images_ForPaper/*/*/Old

!/ML/FractalModels/IvE/version_school_linux_*/*
!/ML/FractalModels/IvE/version_home_windows_*/*
!/ML/FractalModels/IvE/version_slurm_*/*
!/ML/FractalModels/IvE/version_home_fedora_*/*
!/FractalDimension/TE_Images_ForPaper/*/*
!/FractalDimension/TE_Images_ForPaper/*
!/FractalDimension/TE_Images_ForPaper/*/*/*
!GenePerChrom.pkl
!Iterative_Process_TGGCAGGTGTTTAGTTTAGGTCCCTACAGAATAGGCTGGTTATTCTGGGTCAGATCCGAGTTCATTTCAATACGGTGGCTATCCTTAAGGTCTTGGATCG.csv

/FractalDimension/TE_Images_ForPaper/Dict/
/FractalDimension/TE_Images_ForPaper/Error_Data/
