/Data_Files
/CheapBlat
*.log
LogFiles/
.Rproj.user
.RData
.Rhistory
Thesis.Rproj
*.pdf
*.html
*.png
*.pkl
*.npy
*.xlsx
*.err
*.out
/ML/Model_History/
/ML/Model_Loss_Plots/
/ML/Model_Accuracy_Plots/
/ML/Model_Summeries/
*.csv
*.zip
/ML/FractalImages
/ML/Models
/ML/GIF

!/ML/FractalModels/IvE/version_school_linux_*/*
!/ML/FractalModels/IvE/version_home_windows_*/*
!/ML/FractalModels/IvE/version_slurm_*/*
!/ML/FractalModels/IvE/version_home_fedora_*/*
